<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="C:\\Users\\vinodh.kumar\\Source\\Repos\\eRecruit\\eRecruit\\Output\\Log4Net_Output\\Log.txt" />
      <!-- The Log file Location  -->
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%level] [%logger] ---- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="Browser" value="Firefox"/>
    <add key="URL1" value="http://abond.qa4.nga.net.au/be"/>
    <add key="URL" value="https://apajobs.qa4.nga.net.au/be"/>

    <!--Mention only Excel Sheet File Name-->
    <add key="ER_TESTDATA" value="TestData.xlsx"/>
    <add key="GlobalQuestionsData" value="GlobalQuestions.xlsx"/>
    <add key="FormTemplatesData" value="FormTemplates.xlsx"/>
    <add key="UserManagerData" value="UserManager.xlsm"/>
    <add key="UserGroupManagerData" value="UserGroupManager.xlsm"/>
     <add key="AssessmentProcessTemplateData" value="AssessmentProcessTemplate.xlsx"/>
    <add key="UserDetailsFormData" value="UserDetailsForm.xlsx "/>
    <add key="PositionDetailsFormData" value="PositionDetailsForm.xlsx"/>
    <add key="RequisitionProcessTemplateData" value="RequisitionProcessTemplate.xlsx"/>
    <add key="RequisitionData" value="Requisition.xlsx"/>
    <add key="EmailTemplatesData" value="EmailTemplates.xlsx"/>
    <add key="MergeDocTemplatesData" value="MergeDocumentTemplate.xlsx"/>

    <!-- Time is in Seconds.. Only Integer Value should be Provided-->
    <add key="WaitTime" value="10"/>   
    
  </appSettings>
</configuration>